@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    color: white;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    font-size: 30px;
    text-align: center;
}

player,chamber,ghost {
    position: absolute;
    display: block;
    cursor:default;
    box-sizing: border-box;
    background-repeat: no-repeat;
    z-index: 2;
}

player {
    background-image: url(../images/player.png);
    background-size:contain;
    image-rendering: pixelated;
    width: 78px; height: 100px;
}

chamber {
    background-image: url(../images/chamber.png);
    image-rendering: pixelated;
    width:100vh; height: 100vh;
    background-size:cover;
    z-index: 1!important;
    transition: all 3s;
}

ghost {
    background-image: url(../images/ghost.png);
    background-size:contain;
    image-rendering: pixelated;
    width: 78px; height: 100px;
}

.chamber-hitbox {
    position: absolute;
    height: 437px;
    width: 437px;
    margin: 141px;
}

.kills {
    position: absolute;
}

timer {
    position: absolute;
    font-size: 4vh;
    margin: 4vh;
}

.replay-button {
    position: absolute;
    top: 130px;
    background-color: red;
}

.transparent {
    filter:opacity(0)
}

.keys {
    width: 40vh;
    margin: 10vh;
    /* position: absolute; */
}

.card {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: column;
}

@media only screen and (max-width: 725px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
  }